*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    background-color: #ccc;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #565658;
    flex-direction: column;
    padding-block: 8px;
    gap: 16px;
    margin-inline: 8px;
}
header img{
    width: 12vw;
    height: 8vh;
    border-radius: 12px;
}
i{
    width: 16px;
    height: 16px;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.busca{
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
}
.busca img{
    width: 200px;
}
.busca input{
    height: 30px;
    width: 300px;
    text-align: center;
}
menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 52px;
}
menu a{
    color: black;
    text-decoration: none;
}
.servicos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
li{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}
li:hover{
    background-color: #e0d6d6;
    box-shadow: 0 4px 4px #0004; 
    border-radius: 4px;
   
}
.cep{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.cep a{
    width: 100px;
    text-align: center;
}
.cep a:hover{
    background-color: #e0d6d6;
    box-shadow: 0 4px 4px #0004; 
}
.login{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    align-items: center;
}
h2{
    font-weight: 550;
}
.container-produtos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.categoria-produto{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.categoria-produto h2{
    margin-left: 8px;
}
.produtos{
    width: 90vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 0;
    box-shadow: 0 0 2px #000;
    border-radius: 12px;
    background-color: white;
    margin-inline: 8px;
    gap: 4px;
    
}
.cards:hover{
    box-shadow: 2px 2px 8px #CCC;
}

.cards{
    width: 20vw;
    height: 36vh;
    overflow: hidden;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: .5s;
    text-align: center;
    overflow: hidden;
}
.cards img{
    margin-top: 24px;
    width: 8vw;
    height: 16vh;
}
.nome{
    font-size: 20px;
}
.descricao{
    font-size: 14px;
    width: 16vw;
}
.categoria{
    font-size: 16px;
    font-weight: 500;
}
footer{
    width: 100vw;
    /* background-color: #565658; */
    text-align: center;
    
}
footer a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
